// Here you can add other styles


.custom--inv--img {
    max-width: 400px;
}

// para ocultar el input
.image-upload {
    visibility:hidden;
    width:0;
    height:0
}

.form-color {
    color: rgb(255, 255, 255);
    background-color: rgba(101, 151, 245, 0.548);
}