// Here you can add other styles
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

.custom--inv--img {
    max-width: 400px;
}

// para ocultar el input
.image-upload {
    visibility:hidden;
    width:0;
    height:0
}

.form-color {
    color: rgb(0, 0, 0);
    background-color: rgba(101, 151, 245, 0.548);
}

.textRedColor {
    color: rgba(255, 0, 0, 0.836);
}

.textLogoGit {
    font-family: 'Crete Round', serif;
    font-size: 1.3rem;
}

.textHeader {
    font-family: 'Crete Round', serif;
    
}

.link--color {
    color: rgb(59, 59, 59);
}

.link--color:hover{
    color: rgb(59, 59, 59);
}

.text--titulos{
    font-family: 'Hammersmith One', sans-serif;
}

.text--titulos--big{
    font-family: 'Hammersmith One', sans-serif;
    font-size: large;
    text-align: center;
}